<h1>About</h1>

<p>This blog is designed to be a place to share stories from your travels. 
</p>
<p>This blog was built and is maintained by Mark Bennett, an Oakland native and current New Yorker. 
</p>