<h1>Create a new post!</h1>
 
  <form class="create" method="POST" action="/create_post">
  	
  	<label class="post_label" for="title">Title</label><br>
  	<input class="title" type="text" name="post[title]"><br>
  	
  	<label class="post_label" for="body">Body</label><br>
  	<textarea class="body" type="text" name="post[body]"></textarea><br>
  	
  	<input type="submit">
  </form> 