<h1><%= @current_user.first_name if @current_user %>Welcome to MicroBlogger
</h1> 

<ul>
<% @posts.each do |post| %>
  <div class="post_div">
    <li>
      <h2><%= post.title %> <span class="post_date"><%= post.created_at.strftime("%b %d, %Y") %></span>
        <h4>by 
          <span class="author_name"><%= User.find(post.user_id).username %></span>
        </h4>
      </h2>
    </li>
  </div>
<% end %>
</ul> 

