<html>
	<head>
		<link rel="stylesheet" type="text/css" href="styles.css">
		<title>MicroBlogger</title>
	</head>
	<body>
		<div id="container">
			<div id="header">
				<div class="nav_bar">
					<ul class="nav">
						<li>
							<a href="/">home</a>
						</li>
						<li>
							<a href="/about">about</a>
						</li>
						<li>
							<a href="/create">create</a>
						</li>
						<li>
							<a href="/signup">sign up</a>
						</li>
						<li>
							<a href="/login">log in</a>
						</li>
					</ul>
				</div>
			</div>
			<div id="content">
				<%= yield %> <!--this is where all the contents of home.erb get added-->
				<%=flash[:notice] if flash[:notice] %>
			</div>
			<div id="footer">
			</div>
		</div>
	</body>
</html>