<html>
	
	<head>
		<link rel="stylesheet" type="text/css" href="/styles.css">
		<title><%= title %></title>
	</head>
	
	<body>
		<div id="container">
			<div id="header">
				<div class="nav_bar">
					<ul class="nav">
						<li>
							<a href="/">home</a>
						</li>
						<li>
							<a href="/about">about</a>
						</li>
						<% if current_user %>
							<li>
								<a href="/create">create</a>
							</li>
							<li>
								<a href="/logout">logout</a>
							</li>
						<% else %>
							<li>
								<a href="/signup">sign up</a>
							</li>
							<li>
								<a href="/login">log in</a>
							</li>
						<% end %>
					</ul>
				</div>
			</div>
			<div id="content">
				<% if flash[:notice] %>
					<div class="notice">
						<%= flash[:notice] %>
					</div>
				<% end %>
				<%= yield %> <!--this is where all the contents of home.erb get added-->
			</div>
			<div id="footer">
			</div>
		</div>
	</body>

</html>