<h1>Login Page</h1>

<form class="login" method="POST" action="/sign_in">
	
	<label for="username">Username</label>
	<input type="text" name="user[username]">
	
	<label for="password">Password</label>
	<input type="password" name="user[password]">
	
	<input type="submit">
  
</form>
