<h1>Sign Up for MicroBlogger!</h1>

<form class="sign_up" method="POST" action="/sign_up">
	
	<label for="first_name">First Name</label>
	<input type="text" name="user[first_name]">

	<label for="last_name">Last Name</label>
	<input type="text" name="user[last_name]">
	
	<label for="email">Email</label>
	<input type="text" name="user[email]">
	
	<label for="username">Username</label>
	<input type="text" name="user[username]">
	
	<label for="password">Password</label>
	<input type="password" name="user[password]">
	
	<label for="birthday">Birthday</label>
	<input type="date" name="user[birthday]">
	
	<input type="submit">
</form>