/*-- MAIN SITE STYLES --*/

body {
	margin:0;
	padding:none;
  background-color:#f8f7f3; 
}
h1 {
	font: bold 32pt arial;
	margin: 0;
	padding: 50px 0 50px 0;
	text-align: center;
}
h2 span {
  font-size: 12pt;
  font-style: italic;
}
html {
	background-color:#f8f7f3; 
	margin:none;
}
input {
  margin:10px;
  padding:4px;
}
label {
  font-family: Tahoma, sans-serif;
  font-size: 11pt;
}
li a { 
	color:slategrey;
  text-decoration: none;
}

li {
  list-style-type: none;
}
p {
  font: 12pt arial;
  padding: 0 10px 0 10px;
}
textarea {
  width: 600px;
  height: 120px;
  border: 3px solid #cccccc;
  padding: 5px;
  margin: 10px auto;
  font-size: 10pt;
  font-family: Tahoma, sans-serif;
  background-color: #f8f7f3;
}
.create {
	text-align:center;
}
.login {
	text-align: center;
}
.post_date {
  font-style: normal;
  font-size: 12pt;
  float:right;
}
.post_details {
  margin-left: 50px;
  margin-right: 50px;
  padding: 0;
}
.post_author:hover {
  text-decoration: underline;
}
.post_author {
  color: #EE9A4D;
}
.post_title {
  color:black;
}
.post_title:hover {
  text-decoration: underline;
}
.nav {
	float:right;
	margin-right: 50px;
}
.nav li {
	text-align: center;
	list-style-type: none;
	float:left;
	width:80px;
}
.nav_bar {
	color: slategrey;
	height: 50px;
	background-color: lightblue;
	font: bold 13pt arial;
}
.notice{
  color:darkred;
  height: 50px;
  line-height: 50px;
  width: 500px;
}
.title {
  width: 600px;
  border: 3px solid #cccccc;
  padding: 5px;
  margin: 10px auto;
  font-size: 10pt;
  font-family: Tahoma, sans-serif;
  background-color: #f8f7f3;
}
#content {
	max-width: 1000px;
	margin: 0 auto;
	background-color: #E0F8F7;
	min-height: 100%;
  text-align: left;
}

