/*-- MAIN SITE STYLES --*/

body {
	margin:0;
	padding:none;
}
h1 {
	font: bold 32pt arial;
	margin: 0;
	padding: 50px 0 50px 0;
	text-align: center;
}
h2 span {
  font-size: 12pt;
  font-style: italic;
}
html {
	background-color:#f8f7f3; 
	margin:none;
}
input {
  margin:10px;
  padding:4px;
}
li a { 
	color:slategrey;
  text-decoration: none;
}
li {
  list-style-type: none;
}
p {
  font: 12pt arial;
  padding: 0 10px 0 10px;
}
textarea {

}
.create {
	text-align:center;
}
.login {
	text-align: center;
}
.nav {
	float:right;
	margin-right: 50px;
}
.nav li {
	text-align: center;
	list-style-type: none;
	float:left;
	width:80px;
}
.nav_bar {
	color: slategrey;
	height: 50px;
	background-color: lightblue;
	font: bold 13pt arial;
}
.notice{
  background-color: yellow;
  height: 50px;
  width: 500px;
}
#content {
	max-width: 1000px;
	margin: 0 auto;
	background-color: #E0F8F7;
	min-height: 100%;
}
